
body{
    margin: 0;
    padding:0;
}

#main {

    height: 100vh;
    width: 100vw;

    background-color: darkkhaki;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 4em;
    width: 4em;
    margin: 1em;
}

.boxA{
    background-color: blue;
    transition: 1s;
}
.boxA:hover{
    background-color: rgb(204, 0, 255);
    border-radius: 50% 10% 10% 50%;
    transition: 1s;
}
.boxB{
    background-color: rgb(17, 184, 81);
    transition: 1s;
}
.boxB:hover{
    background-color: rgb(203, 247, 110);
    border-radius: 20% 40% 40% 20%;
    transition: 1s;
}
.boxC{
    background-color: rgb(234, 231, 38);
    transition: 1s;
}
.boxC:hover{
    background-color: rgb(243, 142, 42);
    border-radius: 30% 30% 30% 30%;
    margin-bottom: 2em;
    transition: 1s;
}
.boxD{
    background-color: rgb(227, 26, 36);
}
.boxE{
    background-color: rgb(255, 0, 195);
}
.boxF{
    background-color: rgb(45, 226, 243);
}
.boxG{
    background-color: rgb(229, 133, 24);
}
.boxH{
    background-color: rgb(247, 247, 247);
}
.boxI{
    background-color: rgb(38, 248, 45);
}
.boxJ{
    background-color: rgb(0, 0, 0);
}